ATLAS_ENV=development
ATLAS_DEBUG=false

FINANCIAL_API_KEY=
FINANCIAL_API_BASE_URL=https://www.alphavantage.co/query

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=ATLAS_DB
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_WAREHOUSE=ATLAS_WH
